.h12 h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Bangers', cursive;
    color: #ffffff;
}
.h12 {
    text-align: center;
}
.small {
    height: 500px;
    width: 750px;
}
.ul {
    list-style: none;
}
.ul li a {
    color: #ffffff;
    font-size: 30px;
    border: #ffffff solid;
    padding: 8px 20px;
    font-family: sans-serif;
    border-radius: 50px;
}
.ul li a:hover {
    background-color: #ffffff;
    color: #0278ae;
    text-decoration: none;
}
#square {
    height: 10px;
    width: 30%;
    background-color: #0278ae;
    margin-left: 36%;
}
.h1 h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Anton', sans-serif;
}
#small {
    height: 10px;
    width: 7%;
    background-color: #0278ae;
}
#features {
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-row {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature-col {
    flex-basis: 25%;
    text-align: center;
}
.feature-col img {
    margin-bottom: 15px;
}
.feature-col h4 {
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}
.feature-col p {
    font-family: sans-serif;
    line-height: 30px;
    font-size: 20px;
}
#grab {
    list-style: none;
    margin-left: 43%;
}
#grab li a{
    border: #0278ae solid;
    padding: 8px 10px;
    font-size: 20px;
    font-family: sans-serif;
    color: #0278ae;
}
#grab li a:hover {
    background-color: #0278ae;
    color: #ffffff;
    text-decoration: none;
}
.reviews h1 {
    color: black;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
.carousel-item {
    background-color: #777;
    color: #ffffff;
    text-align: center;
}
.sz {
    width: 200px;
    height: 100px;
}
#slider {
    width: 100%;
  }
  .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
  }
  .carousel-caption h5 {
    color: #fff;
    font-size: 42px;
  }
  #ds {
      font-size: 30px;
  }
.sec h1 {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
.sec h3 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.miles {
    height: 200px;
    width: 200px;
}
.cen {
    text-align: center;
}
.mm li a{
    border: #0278ae solid;
    padding: 8px 10px;
    font-size: 20px;
    font-family: sans-serif;
    color: #0278ae;
}
.mm li a:hover {
    background-color: #0278ae;
    color: #ffffff;
    text-decoration: none;
}
.mm {
    list-style: none;
    text-align: left;
    margin-left: 44%;
}
.cen p {
    font-size: 20px;
    font-family: sans-serif;
}